@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");
@font-face {
  font-family: Coolvetica;
  src: url(fonts/coolvetica.otf);
  font-weight: bold;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 0 0 2em;
}

/* HEADER */

h1 {
  font-family: Coolvetica;
  font-weight: bold;
  font-size: 120px;
  color: #0a2ff1;
}
header p {
  font-size: 40px;
  color: #04146c;
  font-weight: 300;
}
span {
  font-weight: 700;
}

/* MAIN */
main {
  display: flex;
  justify-content: space-evenly;
}

div {
  width: 25%;
  background-color: #eff2ff;
  padding: 1em;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  color: #04146c;
}
h3 {
  font-size: 24px;
  font-weight: 900;
  color: #04146c;
}
div p {
  font-size: 24px;
  font-weight: 400;
  color: #04146c;
  text-align: justify;
}

img {
  width: 30%;
}
