@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
.barra {
  background-color: #0a2ff1;
  width: 100%;
  height: 20px;
}

header {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 96px;
  font-weight: 700;
  color: #0a2ff1;
  margin: 20px auto;
}

h2 {
  font-size: 34px;
  font-weight: 400;
  color: #04146c;
  margin: 20px auto;
}

a {
  font-size: 20px;
  font-weight: 400;
  color: #04146c;
  text-decoration: none;
}

img {
  width: 100%;
}

/* NAV */
nav {
  width: 100%;
  margin: 30px;
  display: flex;
  align-items: center;
}

.item {
  margin: 0 50px;
}

.activo {
  font-weight: 700;
}

#logo {
  width: 8%;
}
